<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/login.js" defer></script>
</head>
<body class="login-body">
<div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form id="loginForm">
        <div class="input-group">
            <label for="usernameField">Usuario:</label>
            <input type="text" id="usernameField" placeholder="Usuario">
        </div>

        <div class="input-group">
            <label for="emailField">Correo Electrónico:</label>
            <input type="email" id="emailField" placeholder="Correo Electrónico">
        </div>

        <div class="input-group">
            <label for="passwordField">Contraseña:</label>
            <input type="password" id="passwordField" placeholder="Contraseña">
        </div>

        <button id="loginButton">Entrar</button>
    </form>
    <p><a th:href="@{/register}">¿No tienes cuenta? Regístrate aquí</a></p>
</div>
</body>
</html>
