<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/register.js" defer></script>
</head>
<body class="register-body">

<div class="form-container">
    <h2>Crear Cuenta</h2>
    <form id="registerForm">
        <div class="input-group">
            <label for="emailField">Correo Electrónico:</label>
            <input type="email" id="emailField" placeholder="Correo Electrónico">
        </div>

        <div class="input-group">
            <label for="passwordField">Contraseña:</label>
            <input type="password" id="passwordField" placeholder="Contraseña">
        </div>

        <button id="registerButton">Registrarse</button>
    </form>
    <p><a th:href="@{/login}">¿Ya tienes cuenta? Inicia sesión aquí</a></p>
</div>
</body>
</html>
